@import '../assets/mixins.scss';
@import '../assets/breakpoints.scss';

.about-page {
    margin: 0 16px;
}

.about {
    &__title {
        text-align: center;
        margin-top: 32px;

        @include mobile {
            font-size: 1.2em;
        }
        @include ipad {
            font-size: 1.4em;
        }      
    }

    &__text {
        margin-top: 16px;
        
    }
}

.featuresList {
    padding-left: 24px;
    margin-top: 4px;

    &__item {
        margin-bottom: 8px;
    }
}