@import '../assets/mixins.scss';
@import '../assets/breakpoints.scss';

.header {
    padding: 16px 32px;
    font-weight: 600;
    line-height: 1.5;   
    background-color: #24292F;
    z-index: 100;

    &__logo {
        display: flex;
        margin-right: 16px;
    }

    &__logo_main {
        width: 32px;
        height: 32px;
        fill: #F6F8FA;
    }

    &__logo_main:hover {
        fill: #0969DA;
    }

    @include flexRawCenter;

    @include mobile {
        @include stickyHeader;
    }

    @include ipad {
        @include staticByDefault;
    }

}

.navbar {

    &__list {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    
    &__link {
        color: #FFFF;
        margin-right: 16px;
    }

    &__link:hover {
        color:#0969DA;
    }
}