.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;

    background-color: #24292F;

    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;   

    &__logo {
        display: flex;
    }

    &__logo_main {
        width: 32px;
        height: 32px;
        margin-right: 16px;
        fill: #F6F8FA;
    }

    &__logo_main:hover {
        fill: #0969DA;
    }

}

.navbar {

    &__list {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    
    &__link {
        color: #FFFF;
        margin-right: 16px;
        
    }

    &__link:hover {
        color:#0969DA;
    }
}