@import '../assets/mixins.scss';
@import '../assets/breakpoints.scss';

.search-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    @include mobile {
        padding: 16px;
    }

    @include ipad {
        padding: 32px;
    }
}

.search-form {
    padding: 1px;
    min-height: 28px;
    max-width: 272px;
    
    &__input {
        font-weight: 400;
        padding: 5px 12px;
    }

}   