/* Mobile */
$screen-mobile-min: 320px;

/* Ipads, Tablets */
$screen-ipad-min: 480px;

/* Small screen (sm) */
$screen-sm-min: 640px;

/* laptop */
$screen-laptop-min: 768px;

/* Desktop, Large */
$screen-desktop-min: 1024px;

/* Extra Large */
$screen-xl-min: 1280px;